.container {
  background: #1f2532;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.searchBar_container {
  background: #9b2828;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 5;
}

.list_title {
  text-align: center;
  color: #ffdb10;
  font-size: x-large;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 0rem;
}
