.container {
  background-color: #1f2532;
  height: 3rem;
  width: 90vw;
  max-width: 40rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
}

.input {
  height: 100%;
  background-color: transparent;
  font-size: 1rem;
  border-style: none;
  padding: 0.5rem;
  outline: none;
  width: 100%;
  border-radius: 0.3rem;
  margin-right: 0.25rem;
  color: rgb(207, 207, 207);
}

.searchIcon {
  border-radius: 0.3rem;
  padding: 0.25rem;
  cursor: pointer;
  margin-right: 0.25rem;
}
