.menu_btn {
  display: none;
  position: absolute;
  right: 1rem;
}

.disabled_btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  color: #ffdb10;
  width: 2rem;
  height: 2rem;
}

.movie_icon {
  margin: 0.5rem;
}

.title_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffdb10;
  font-size: x-large;
  text-decoration: none;
}

.title_drawer {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  color: #ffdb10;
  border-radius: 0.3rem;
}

@media (max-width: 768px) {
  .menu_btn {
    display: block;
    position: absolute;
    left: 1rem;
    cursor: pointer;
  }

  .links,
  .auth {
    display: none;
  }

  .title_container {
    position: absolute;
    right: 50%;
    left: 50%;
  }
}

.line {
  border-top: 1px solid #ffdb10;
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.auth_container_drawer {
  width: 100%;
  padding: 0.5rem;
  align-self: flex-end;
}
