.menu_btn {
  display: none;
  cursor: pointer;
}

.disabled_btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
}

.title {
  color: white;
  font-size: x-large;
  text-decoration: none;
}

.title_drawer {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  color: rgb(255, 255, 255);
  border-radius: 0.3rem;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .menu_btn {
    display: block;
    position: absolute;
    right: 1rem;
  }
  .links,
  .auth {
    display: none;
  }
}

.line {
  border-top: 1px solid rgba(255, 255, 255, 0.518);
  margin: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.auth_container_drawer {
  width: 100%;
  padding: 0.5rem;
  align-self: flex-end;
}
