.nav_links {
  text-decoration: none;
  color: #ffffff;
  margin: 0.5rem;
}
.nav_links:hover {
  color: #ffdb10;
}

.drawer {
  display: grid;
  align-self: center;
  justify-items: center;
}

.container {
  height: 100%;
  overflow: auto;
}

.container::-webkit-scrollbar {
  display: none;
}
