.enter {
  transform: translateX(-100%);
}

.enter_active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.exit {
  transform: translateX(0%);
  opacity: 1;
}

.exit_active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}
